.evexImg {
  z-index: -1;
  position: absolute;
  width: 1162px;
  bottom: 0px;
  right: 0px;
  height: auto;
  margin-bottom: 0px;
}

.aeronauticsImg {
}

.nightImg {
  display: block;
  z-index: -1;
  position: absolute;
  width: 390px;
  top: 190px;
  right: 580px;
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.5));
}

.nightImg:hover {
  width: 405px;
  transition: 1s;
}

.energeticaImg {
}

.cosmologyImg1 {
  display: block;
  z-index: -1;
  position: absolute;
  width: 105px;
  top: 327px;
  right: 88px;
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.5));
}

.cosmologyImg1:hover {
  width: 120px;
  transition: 1s;
}

.cosmologyImg2 {
  display: block;
  z-index: -1;
  position: absolute;
  width: 105px;
  top: 325px;
  right: 212px;
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.5));
}

.cosmologyImg2:hover {
  width: 120px;
  transition: 1s;
}

.cosmologyImg3 {
  display: block;
  z-index: -1;
  position: absolute;
  width: 105px;
  top: 321px;
  right: 333px;
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.5));
}

.cosmologyImg3:hover {
  width: 120px;
  transition: 1s;
}

.cosmologyImg4 {
  display: block;
  z-index: -1;
  position: absolute;
  width: 105px;
  top: 320px;
  right: 448px;
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.5));
}

.cosmologyImg4:hover {
  width: 120px;
  transition: 1s;
}

.cosmologyImg5 {
  display: block;
  z-index: -1;
  position: absolute;
  width: 105px;
  top: 318px;
  right: 577px;
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.5));
}

.cosmologyImg5:hover {
  width: 120px;
  transition: 1s;
}

.cosmologyImg6 {
  display: block;
  z-index: -1;
  position: absolute;
  width: 105px;
  top: 319px;
  right: 710px;
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.5));
}

.cosmologyImg6:hover {
  width: 120px;
  transition: 1s;
}

.cosmologyImg7 {
  display: block;
  z-index: -1;
  position: absolute;
  width: 105px;
  top: 323px;
  right: 838px;
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.5));
}

.cosmologyImg7:hover {
  width: 120px;
  transition: 1s;
}

.cosmologyImg8 {
  display: block;
  z-index: -1;
  position: absolute;
  width: 105px;
  top: 322px;
  right: 964px;
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.5));
}

.cosmologyImg8:hover {
  width: 120px;
  transition: 1s;
}

.evolutionImg {
  display: block;
  z-index: -1;
  position: absolute;
  left: 35%;
  top: 120px;
  width: 980px;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
}

.evolutionImg:hover {
  width: 1000px;
  transition: 1s;
}

.biologyImg {
  display: block;
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 120px;
  width: 370px;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
}

.biologyImg:hover {
  width: 385px;
  transition: 1s;
}

.roboticsImg {
  display: block;
  z-index: -1;
  bottom: -0px;
  left: 35%;
  position: absolute;
  width: 600px;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
}

.roboticsImg:hover {
  width: 615px;
  transition: 1s;
}

.ecologyImg {
  display: block;
  z-index: -1;
  position: absolute;
  right: 0px;
  top: 100px;
  width: 1162px;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
}

.ecologyImg:hover {
  width: 1177px;
  transition: 1s;
}

@media only screen and (max-width: 1180px) {
  .evexImg {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
  }

  .evolutionImg {
    display: none;
  }

  .biologyImg {
    display: none;
  }

  .roboticsImg {
    display: none;
  }

  .ecologyImg {
    display: none;
  }
}
