.evexImg {
  z-index: -1;
  position: absolute;
  width: 1162px;
  bottom: 0px;
  right: 0px;
  height: auto;
  margin-bottom: 0px;
}

.aeronauticsImg {
}

.nightImg {
  display: block;
  z-index: -1;
  position: absolute;
  width: 571px;
  bottom: 5px;
  right: 20%;
  filter: drop-shadow(20px -20px 20px rgba(0, 0, 0, 0.5));
}

.nightImg:hover {
  width: 586px;
  transition: 1s;
}

.energeticaImg {
  display: block;
  position: absolute;
  z-index: -1;
  width: 610px;
  right: 20%;
  top: 100px;
}

.energeticaImg:hover {
  width: 625px;
  transition: 1s;
}

.cosmologyImg {
  display: block;
  z-index: -1;
  position: absolute;
  width: 1100px;
  top: 300px;
  right: 40px;
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.5));
}

.cosmologyImg:hover {
  width: 1115px;
  transition: 1s;
}

.evolutionImg {
  display: block;
  z-index: -1;
  position: absolute;
  left: 35%;
  top: 120px;
  width: 980px;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
}

.evolutionImg:hover {
  width: 1000px;
  transition: 1s;
}

.biologyImg {
  display: block;
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 120px;
  width: 370px;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
}

.biologyImg:hover {
  width: 385px;
  transition: 1s;
}

.roboticsImg {
  display: block;
  z-index: -1;
  bottom: -0px;
  left: 35%;
  position: absolute;
  width: 600px;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
}

.roboticsImg:hover {
  width: 615px;
  transition: 1s;
}

.ecologyImg {
  display: block;
  z-index: -1;
  position: absolute;
  right: 0px;
  top: 100px;
  width: 1162px;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
}

.ecologyImg:hover {
  width: 1177px;
  transition: 1s;
}

.img1200px {
  display: none;
  width: 100%;
  max-height: 350px;
  margin-bottom: 40px;
  object-fit: cover;
}

.img900px {
  display: none;
  width: 100%;
  max-height: 40vh;
  margin-bottom: 40px;
  object-fit: cover;
}

.img450px {
  display: none;
  width: 100%;
  margin-bottom: 40px;
}

@media only screen and (max-width: 1180px) {
  .evexImg {
    display: none;
    position: relative;
    width: 100%;
    margin-bottom: 40px;
  }

  .nightImg {
    display: none;
  }

  .energeticaImg {
    display: none;
  }

  .cosmologyImg {
    display: none;
  }

  .evolutionImg {
    display: none;
  }

  .biologyImg {
    display: none;
  }

  .roboticsImg {
    display: none;
  }

  .ecologyImg {
    display: none;
  }

  .img1200px {
    display: block;
  }
}

@media only screen and (max-width: 900px) {
  .img1200px {
    display: none;
  }

  .img900px {
    display: block;
  }
}

@media only screen and (max-width: 450px) {
  .img900px {
    display: none;
  }

  .img450px {
    display: block;
  }
}
