header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: start;
  align-items: baseline;
  background-color: var(--background-color);
  z-index: 4;

  nav {
    display: block;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
  }
}

.mobileNav {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  display: none;
  gap: 0px;
  align-items: end;
  justify-content: end;
  overflow: hidden;
  background-color: var(--background-color);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 6;

  label {
    align-self: flex-end;
    margin-bottom: -5px;
  }
}

.linksContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  height: 0px;
  width: 0px;
  opacity: 0;
  overflow: hidden;
  transition: 0.7s ease-in-out;
  z-index: 6;
}

#mobileMenuActive {
  display: none;
}

.openMobileMenu {
  display: block;
}

.closeMobileMenu {
  display: none;
  z-index: 6;
}

#logo {
  width: 150px;
  background-color: var(--heading-color);
  background-image: url(../images/logo-gif.gif);
  background-size: 150px;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 900px) {
  header {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;

    #logo {
      width: 200px;
      background-size: 200px;
    }

    nav {
      display: none;
    }
  }

  .mobileNav {
    display: flex;
  }

  .mobileNav #mobileMenuActive:checked ~ .linksContainer {
    height: 130px;
    width: 100px;
    margin-right: 10px;
    opacity: 100;
  }

  #mobileMenuActive:checked ~ .openMobileMenu {
    display: none;
  }

  #mobileMenuActive:checked ~ .closeMobileMenu {
    display: block;
  }

  #mobileMenuActive:checked ~ #overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
  }
}
