header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: start;
  align-items: baseline;
  background-color: var(--background-color);
  z-index: 4;

  nav {
    display: block;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
  }
}

#logo {
  width: 150px;
  background-color: var(--heading-color);
  background-image: url(../images/logo_gif.gif);
  background-size: 150px;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 900px) {
  header {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;

    nav {
      display: none;
    }
  }
}
