body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

main {
  margin-top: 100px;
  margin-left: 10rem;
  margin-right: 10rem;
  padding-bottom: 40px;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 20px;

  div {
    flex-wrap: wrap;
    flex: 1;
    height: min-content;
  }
}

.flexrow {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media only screen and (max-width: 1200px) {
  .flex {
    flex-direction: column;
  }
}

@media only screen and (max-width: 900px) {
  main {
    margin-top: 0;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
